<div class="container">
  <% @occasion.items.each do |item| %>
  <% if (item.kind =='Flowers') %>
  <div class="row">
    <div class="col-md-3">
          <%= link_to image_tag(item.image, :class => 'thumb'), items_path %>
          <!-- <%= link_to item.name, item %> -->
      <div class="itemInfo">
          <%= item.name %>
          <%= item.price %>
          <!-- <%= link_to "Add Gift", "javascript:;",{ :item_id => item.id, :class => "addGiftLink", :'data-target' => '#addGift', :'data-toggle' => "modal"}%> -->
      </div>
    </div>
    <% end %><!--end for if loop -->
  <% end %><!--end for each loop -->
  </div><!-- close row -->
</div>
