<!DOCTYPE html>
<html>
<head>
  <title>Florist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:error].present? %>
  <h2 class="error" >
   <%= flash[:error] %>
  </h2>
  <% end %>

<%= yield %>

</body>
</html>
